	@import url('https://fonts.googleapis.com/css?family=Federant&display=swap');

*{
	margin: 0;
	font-family:'Federant' ;
	outline: none;
	transition: all .22s ease-in-out;
}
div#container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background:#2ECC40;
	z-index: -1;
}

div #triangle{
	width: 0;
	height: 0;
	border-top: 1000px solid #FFF;
	border-right: 1000px solid transparent ;
}

form.forlogin{
	display: block;
	margin: auto; 
	width: 450px;
	padding: 20px 0px;
	border-radius: 10px;
	background:#fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-top: 10vh;
}
/*Para deixar a caixa de E-mail e senha com cor em volta também usou a linha 6 e 7*/
form.forlogin input.field{
	display: block;
	margin: auto;
	width: 80%;
	border-radius: 15px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 10px;
}
form.forlogin input.field:focus{
	border-color: #2ECC40;	
	border-radius: 10px;

}

form.forlogin p{
	display: block;
	margin: auto;
	width: 90%;
	padding:20px 0px;
	margin-bottom: 20px;
	font-size:24px;
	text-align:center;
}
form.forlogin input[type="submit"]{
	display: block;
	margin: auto;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border:none;
	border-radius: 5px;
	margin-top: 0px;
	background:#2ECC40;
	color: black;
	font-size: 12pt;
}
form.forlogin input[type="submit"]:hover{
	font-weight: bold;

}
form#registar{
	display: none;
}
p#loginP{
	display: none;
}
p.trocarFrom{
	display: block;
	margin: auto;
	width: 90%;
	text-align:center;
	margin-top: 20px;
	color: #FFF;
	cursor: pointer;
}
