@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Background das páginas: Página Inicial (de login) e Página de Cadastro */

body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #ffffff;
	margin-top: 0px;
 	margin-bottom: 0px;
 	margin-right: 0px;
 	margin-left: 0px;
}

/* Cabeçalho das páginas: Página Inicial (de login) e Página de Cadastro */

header{
	position: fixed;
	background-color: #041b00;
	height: 60px;
	border: 1px solid black;
	margin-top: 0px;
 	margin-bottom: 0px;
 	margin-right: 0px;
 	margin-left: 0px;
 	display: flex;
 	width: 100%;
 	flex-direction: row;
}
img{
	padding-left: 32px;
	padding-top: 10px;
	width: 70px;
	height: 40px;
}
#form-pesquisa{
    width: 60%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
}
#input-pesquisa{
	background-image: url(/img/lupa.png);
	background-repeat: no-repeat;
	background-size: 31px;
  	margin-top: auto;
  	margin-bottom: auto;
  	margin-left: 32px;
  	margin-right: 0%;
	width: 100%;
	height: 50%;
	border-radius: 4px;
  	border: 1px solid black;
  	text-align: left;
  	padding-left: 38px;
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 18px;
}
#ul-header {
 	list-style-type: none;
	margin: 0;
 	padding: 0;
  	width: 100%;
}

.li-header{
 	float: right;
    display: block;
	color: white;
	text-align: center;
	padding-right: 30px;
	padding-top: 19px;
	margin: auto;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.li-header a{
	color: white;
}

/* Rodapé das páginas: Página Inicial (de login) e Página de Cadastro */

footer{
	height: 100px;
	margin-top: 0px;
 	margin-bottom: 0px;
 	margin-right: 0px;
 	margin-left: 0px;
 	display: table-footer-group;
 	background-color: white;
}
table{
	border-collapse: collapse;
	width: 100%;
}
#div-footer{
	width: 97%;
	text-align: justify;
	margin-top: 0px;
	margin: auto;
	vertical-align: super;
}
#ajuda-instruções{
	text-align: center;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

/* Formulário da Página Inicial/home */

#div-principal-login{
	background-image: url(/img/Background.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-top: 80px;
	padding-bottom: 165px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#div-form-login{
	background-color: white;
	width: 350px;
	height: 255px;
	margin: auto;
  	text-align: center;
  	border: 1.5px solid black;
  	border-radius: 20px;
}
#titulo-login{
	text-align: center;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%
}
#input-email{
	border-radius: 4px;
  	margin-top: -10px;
  	text-align: center;
  	width: 300px;
  	height: 30px;
  	border: 1px solid black;
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 15px;
}
.inputs-form-login{
  	border-radius: 4px;
  	margin-top: -6px;
  	text-align: center;
  	width: 300px;
  	height: 30px;
  	border: 1px solid black;
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 15px;
}
#msg-cadastre-se{
	text-align: center;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: #020e00;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

/* Formulário da Página de Cadastro */

#div-principal-cadastro{
	background-image: url(/img/Background.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-top: 80px;
	padding-bottom: 67px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#div-form-cadastro{
	background-color: white;
	width: 350px;
	height: 350px;
	margin: auto;
  	text-align: center;
  	border: 1.5px solid black;
  	border-radius: 20px;
}
#titulo-cadastro{
	text-align: center;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%
}
#input-nome{
	margin-top: -10px;
	border-radius: 4px;
	text-align: center;
	width: 300px;
	height: 30px;
	border: 1px solid black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}
.inputs-form-cadastro{
	border-radius: 4px;
 	margin-top: 12px;
	text-align: center;
	width: 300px;
	height: 30px;
	border: 1px solid black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}
#msg-para-login{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	color: #020e00;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}
#p-erro{
	text-align: center;
	color: #e40000;
	font-weight: bold;
	font-size: 16px;
	width: 295px;
	margin: auto;
	margin-top: 2%;
}

/* CSS para os demais elementos das páginas: Página Inicial (de login) e Página de Cadastro */

#msg-boas-vindas{
	text-align: center;
	padding-bottom: 15px;
	color: white;
	margin-top: 1.3%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: #041b00;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}
span{
	color: #e40000;
}
#forall{
	color: #47C034;
}
input[type="submit"]{
	background-color: #47C034;
	font-size: 20px;
}
input[type="submit"]:hover{
	background-color: #e40000;
}
h1{
	text-align: center;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}
a{
	text-decoration: none;
	color: #4B0082;
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000000;
}
a:hover{
	color: #e40000;
}
