h1{
	padding-top: 10px;
}
#erro{
	text-align: center;
	padding-top: 310px;
	width: 50%;
	margin: 0px auto;
}
legend{
	text-align: center;
}
form{
    width: 400px; 
    height: 150px; 
    left: 50%; 
    top: 50%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute;
 }
 fieldset{
    text-align: center;
 }
 input{
 	text-align: center;
 }