<footer>

    <div id="div-footer">
        <h1 id="ajuda-instruções">Ajuda/Instruções:</h1>
            <p>
                <strong>1.Objetivo: </strong>
                    O Fórum For All foi desenvolvido com o propósito de auxiliar os profissionais e estudantes na resolução de determinadas perguntas. Além disso, incentivar a interação entre as pessoas, fazendo com que compartilhem seus conhecimentos e experiências também é um dos nossos principais ideais. 
            </p> 
            <p>
                <strong>2.Login: </strong>
                    Para realizar o login, o usuário só precisa inserir o ID ou e-mail e a senha utilizados quando se cadastrou no site.
            </p>
            <p>
                <strong>3.Cadastro: </strong>
                    Para realizar o cadastro, será necessário que o usuário crie um ID - que ainda não exista e que não possua caracteres especiais, espaços e letras acentuadas -, tenha uma conta de e-mail válida e utilize uma senha com 8 caracteres no mínimo.
            </p>
            <p>
                <strong>4.Funcionalidades: </strong>
                    Qualquer usuário, cadastrado ou não, pode criar tópicos, ou seja, fazer perguntas. Ademais, o Fórum For All disponibiliza "Salas" nas quais os usuários de determinado curso podem interagir com os outros membros também cadastrados na turma.
            </p> 
    </div>
 
</footer>

</body>
</html>