<body>

    <header>
        <a href="/"><img src="img/Logo-Forum.png"></a> 

        <form action="pesquisar.php" method="POST" id="form-pesquisa">
            <input type="text" name="pesquisar" placeholder="Pesquisar" id="input-pesquisa"/>
        </form>
        
		<ul id="ul-header">
  			<li class="li-header"><a href="#news" class="a-header">Sobre</a></li>
	  		<li class="li-header"><a href="https://github.com/FabioMouradeFraga/projetoepratica1" class="a-header">GitHub</a></li>
  			<li class="li-header">v1.0-Alfa</li>
		</ul>

    </header>
    