<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/styles/home-cadastro.css">

<body>

    <header>
        <a href="/"><img src="img/Logo-Forum.png" id="logo"></a> 
        
          <form action="pesquisar.php" method="POST" id="form-pesquisa">

            <input type="text" name="pesquisar" placeholder="Clique aqui para pesquisar"/>
            <span></span>

        </form>

    <div id="div-opcoes">
      
		<ul id="ul-header">
  			<li class="li-header"><a href="sobre.php" class="a-header">Sobre</a></li>
  			<li class="li-header"><a href="ajuda.php">Ajuda</a></li>
	  		<li class="li-header"><a href="https://github.com/FabioMouradeFraga/projetoepratica1" target="_blank" class="a-header">GitHub</a>
        </li>
        <li class="li-header"><a href="/documentation/proposta _projeto_e_pratica_1_forum_ifpe.pdf" target="_blank">Documentação</a></li>
		</ul>

    </div>
    </header>
    